    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the Project</h2>
                <p>
                  The Rahway River Project was created by <a href="http://quickbrownfox.xyz/">
                  Tejas Gupta </a> to raise awareness about the Rahway River and its conservation efforts.
                  Learn about the <a href=#contact>problems</a> affecting the Rahway River and <a href=#solution>how <b> you </b>
                  can help </a>.
                </p>
                <p>
                  This siteis its main tool to inform local communities about how they can help preserve our
                  natural resource, the Rahway River. It was coded by Tejas Gupta, and the <b> source code </b>
                  is available at the project's <a href="https://github.com/rahwayriver"> Github Repository </a>.
                </p>
                <p>
                  Please share this website on Facebook, Twitter, and other social networks
                  to raise awareness and help the cause.
                </p>
            </div>
        </div>
    </section>
